{% extends 'baseTwo.html.twig' %}

{% block title %}ForgotPassword{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/security/forgotPassword.css') }}" />
{% endblock %}

{% block body %}
    <section class="container">
        <div class="block_forgot">
            <div class="col-xs-12 col-md-6 offset-md-3 text-center">
                {{ form(form) }}
            </div>
        </div>
    </section>
{% endblock %}