{% extends 'base.html.twig' %}


{%  block head %}

    <script>
        $(document).ready(function(){
            $("#flip").click(function(){
                $("#panel").slideToggle("slow");
            });
        });
    </script>
    <style>
        #panel, #flip {
            padding: 5px;
            text-align: center;
            background-color: #e5eecc;
            border: solid 1px #c3c3c3;
        }

        #panel {
            padding: 50px;
            display: none;
        }
    </style>

{%  endblock %}

{% block body %}

    <div id="flip">Click to slide down panel</div>
    <div id="panel">Hello world!</div>


{%  endblock %}