/* body */
body
{
    height: auto;
}

/* section */
.block_forgot
{
    box-shadow: 0 0 1px #565656;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin: 150px;
    padding: 10px;
}

label
{
    font-weight: bold;
}

@media all and (max-width: 540px)
{
    .block_forgot
    {
        box-shadow: 0 0 1px #565656;
        background-color: #e0e0e0;
        border-radius: 10px;
        margin: 50px;
    }
}