/* body */
body
{
    height: auto;
}

/* section */
.block-form
{
    box-shadow: 0 0 1px #565656;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 10px;
}

.checkbox
{
    padding-top: 10px;
}

.register, .forgot_password
{
    padding-top: 20px;
}

.register a, .forgot_password a
{
    color: orange;
}

@media all and (max-width: 540px)
{
    .block-form
    {
        margin: 10px;
    }
}