/*block section*/

.block_item_modify
{
    box-shadow: 0 0 1px #565656;
    background-color: #e0e0e0;
    position: relative;
    top: -450px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: -230px;
}

/* part pictures and movies */
.picturesAndMovies
{
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #eeeeee;
    margin: initial;
    border-radius: 5px;
}

.block_btn_asynchronous
{
    margin: 5px;
}
.add_the_input_picture, .add_the_input_movie
{
    color: white;
    padding: 5px;
    background-color: black;
    box-shadow: 0 1px 1px gray;
    border-radius: 5px;
}

.delete_the_picture, .delete_the_link
{
    color: white;
    padding: 5px;
    background-color: #B0413E;
    box-shadow: 0 1px 1px gray;
    border-radius: 5px;
}

.block_input_img
{
    margin-top: 10px;
    padding-bottom: 50px;
}

.new_input_files
{
    padding-top: 20px;
}

#fileSelect, #fileSelectMovie
{
    margin-top: 5px;
    margin-bottom: 30px;
}

.balise_responsive
{
    transform: none !important;
    position: relative !important;
    will-change: unset !important;
}

/* part form */

label, legend
{
    font-weight: bold;
    font-size: 1.2em;
}

@media all and (max-width: 540px)
{
    /*part picture and movie*/
    .dropdown-menu
    {
        transform: translate3d(0, 59px,0) !important;
        width: 100%;
    }
}