{%  block body %}
    {% apply inline_css( source('@css/email/forgotPasswordEmail.css')) %}
        <div class="block_header">
            <p class="title_email">Modification du mot de passe </p>
            <img class="img_text" src="{{ email.image('@img/snow_label.png') }}" alt="etiquette du site"/>
        </div>

        <p class="content_email">Pour modifier votre mot de passe vous devrez cliquer sur le lien envoyé,
            celui-ci vous emmèneras au formulaire de modification de votre mot de passe.<p>

        <a class="link" href="http://{{ host }}/resetPassword?user={{ addressUser }}&cle={{ key }}">
            Modifié mon mot de passe en cliquant ici
        </a>

        <p class="politeness_formula">Merci de votre soutien dans cette aventure</p>

        <h1 class="title_foot_email">SNOWTRICKS</h1>
    {% endapply %}
{% endblock %}