<p>Modification du mot de passe,</p>

<p>Pour modifier votre mot de passe vous devrais cliquer sur le lien envoyé,
    celui-ci vous emmenera au formulaire de modification de votre mot de passe.

    <a href="http://localhost:8000/resetPassword?user={{ addressUser }}&cle={{ key }}">modifié mon mot de passe en cliquant ici</a><br />

    Merci de votre soutient dans cette aventure</p>>

<h1>SNOWSTICK</h1>