<p>Bienvenue sur le site collaboratif SnowTricks,</p>

<p>Votre inscription à été accepté, avant de vous connecter vous devez confirmée votre inscription sur
    <a href="http://localhost:8000/confirmation?activation={{ addressUser }}&cle={{ key }}">confirmer en cliquant ici</a><br />

    Merci de votre soutient dans cette aventure</p>>

<h1>SNOWSTICK</h1>